.box{
	width:700px;
	left:50%;
	position: absolute;
	transform: translate(-50%,0%);
	box-sizing: border-box;
	padding: 40px 30px;
	border-radius: 10px;
}


@media screen and (max-width: 700px){
   .box{
     width:100%;
     transform: translate(-50%,0%);
   }
}

